<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
        <% obj.forEach(function(justOne) { %>
        <li>
        <strong><%= justOne.name %></strong> <br>
        <strong><%= justOne.price %> </strong>
        <strong><%= justOne.image %> </strong>
        <strong><%= justOne.uuid %> </strong>
            <strong><%= justOne.description %> </strong> <br> <br>
        </li>
        <% }); %>
        </ul>
    <div>
    <form action="/addName" method="post">
        <input type="text" id = "text"  required name="name" placeholder="name"><br><br>
        <input type="number"id = "text" name="price" placeholder="price"><br><br>
        <input type="text" id = "text" name="image" placeholder="image"><br><br>
        <input type="number" id = "text" name="uuid" placeholder="uuid"><br><br>
        <input type="text" id = "text" name="description" placeholder="description"><br><br>
        <input type="submit" onclick = "sendData">
    </form>
</div>
<script src = "script.js "></script>
</body>
</html>
